<!-- prettier-ignore -->
{% extends "document.html" %}
{% block main %}
<main class="grow">
  <section>
    <h1>Hello there!</h1>
    <p>
      My name is <b>Phawat Suksiriwan</b>, and welcome to my website. You can
      also call me by my online handle, <b>Galax</b>. I am a high school student
      in Thailand, and I aspire to become a software engineer. I have been
      interested in computers and software since I was a kid, which led me to
      start my programming journey in 2020. I am focused on backend web
      development and I also have a keen interest in systems programming. When I
      am not programming, you can find me gaming, learning, or doing
      <a
        href="https://en.wikipedia.org/wiki/Audiophile"
        target="_blank"
        rel="noreferrer"
      >
        audiophile
      </a>
      things.
      <br />
      <br />
      On this website, you can find my <a href="/blog">blog</a> (which I rarely
      post, lol), any <a href="/projects">projects</a> that I have contributed
      to, and my contacts &ndash; just in case you need to get in touch. Hope
      you have a nice time!
    </p>
  </section>
  <section>
    <h1>Recent posts</h1>
    <ul class="mb-8 flex flex-col gap-y-4">
      {% if recentPosts.length > 0 %} {% for blog in recentPosts %}
      <li class="text-lg leading-6">
        <span class="mr-8 inline-block w-32 text-right text-neutral-600">
          {{ blog.created_at }}
        </span>
        <a href="/blog/{{ blog.slug }}">{{ blog.title }}</a>
      </li>
      {% endfor %}
      <li class="text-center text-sm text-neutral-600">
        <a class="hover:text-neutral-950 hover:dark:text-neutral-50" href="/"
          >Read More...</a
        >
      </li>
      {% else %}
      <li class="text-center text-lg leading-6 text-neutral-600">
        <i>It seems a little bit empty over here...</i>
      </li>
      {% endif %}
    </ul>
  </section>
</main>
{% endblock %}
